body{
    display: flex;
    justify-content: center;
    
}
span{
    font-size: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vh;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
}


.card {
  width: 60px;
  height: 100px;
  background-color: #111;
  color: white;
  font-size: 48px;
  font-family: 'Courier New', monospace;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}

i{
margin-right: 20px;
}
