body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: grey;
}

.counter {
    background: white;
    padding: 20px;
    border-radius: 10px;
    font-size:48px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

i{
    font-size: 50px;
}

.fa-clock {
  margin-right: 15px;  
}
